/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
html {
  overflow-x: hidden;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 10px;
  margin-bottom: 12px;
}

main {
  margin: 5% 10%;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 50px;
  margin: 5% auto;
}

.results {
  width: 70%;
}

.refresh-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.refresh > button {
  padding: 5px;
}

.scores-container {
  border: solid 3px gray;
  padding: 5px;
  border-radius: 4px;
}

.add > .add-form {
  width: 80%;
}

.add > .add-form > form {
  display: flex;
  flex-direction: column;
}

.add > .score-heading {
  margin-bottom: 20px;
}

.add > .add-form > form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
}

.add > .add-form > form > button {
  align-self: flex-end;
  width: 30%;
  padding: 5px;
}
